        
        h1{
            color: #ffffff;
            text-shadow: 2px 2px #0a0a0a;
            font-family: monospace;
            font-size: 6em;
        }
        
        .row{
            max-width: 80rem !important;
        }
        
        .top-menu{
            padding-top: 0.5em;
            background-color: rgb(19, 19, 19);
            position: fixed;
            max-width: 80rem;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 5px solid rgb(41, 124, 167);
        }
        
        .a-active{
            text-decoration: underline;
            transition: 0.3s;
        }
        
        .a-top-menu{
            color: #ffffff !important;
            font-size: 1.8em;
            font-family: monospace;
        }
        
        .a-top-menu:hover{
            transition: 1s;
            text-decoration: underline;
        }
        
        .a-top-menu:focus{
            background-color: rgba(46, 49, 53, 0.78);
            transition: 0.3s;            
        }
        
        .header{
            margin-top: 3.7em;
            background-color: #62aaff;
            text-align: center;
            padding: 2em;
        }
        
        .conteudo{
            border-top: 5px solid #e0e0e0;
            background-color: #fbfbfb;
            min-height: 10em;
            padding: 1em;
        }
        
        .conteudo-direito{
            border-left: 1px dotted #cacaca;
            min-height: 30em;
        }
        
        .footer{
            background-color: #ececec;
            min-height: 5em;
            padding: 1em;
        }
        
        hr{
            border-bottom: 1px dotted #cacaca;
        }